@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2f2b62;
    display: flex;
    flex-direction: row;
}

a {
    color: white;
}

h1 {
    display: flex;
    margin-left: 25vw;
    font-size: 50px;
    color: white;
    font-weight: 100;
}

nav {
    height: 100vh;
    width: 20vw;
    background-color: #e3b42c;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #2f2b62;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    word-break: break-word;
    text-align: center;
    height: 100vh;
}

nav a:hover {
    color: #e3b42c;
    width: 100%;
    background-color: #2f2b62;
    transition: 0.4s;
}

main {
    padding: 50px;
}


main h1 {
    margin-bottom: 50px;
    color: #e0c10d;

}

main li {

    color: white;
    font-size: 30px;
    margin: 10px;

}

div#dicas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25vw;
}

div#titulo {
    font-size: 50px;
    margin-bottom: 80px;
    color: #e0c10d;
}


div.content {
    margin-top: 20px;

}

div.content p {
    margin-top: 20px;
    color: #fdfdfd;
    font-size: 20px;
}


ul li {
    color: #e0c10d;
}

div#redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

div#redes img {
    border-radius: 20px;
}