@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2f2b62;
  display: flex;
  flex-direction: row;
}

nav {
  height: 100vh;
  width: 20vw;
  background-color: #e3b42c;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

img {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #2f2b62;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  word-break: break-word;
  text-align: center;
  height: 100vh;
}

nav a:hover {
  color: #e3b42c;
  width: 100%;
  background-color: #2f2b62;
  transition: 0.4s;
}

main {
  padding: 50px;
}

div#notificacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30vw;
}

div#titulonotificacoes {
  font-size: 30px;
  margin-bottom: 20px;
  color: #e0c10d;
}

div.todasnotificacoes {
  width: 52vw;
  height: 20vh;
  background-color: white;
  border: 5px solid #e0c10d;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin: 13px;
  transition: box-shadow 0.2s ease;
}

div.esquerda {
  margin-right: auto;
  max-width: 35vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div.direita {
  margin-left: auto;
  max-width: 17vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: right;
}

span.analise {
  color: #e0c10d;
}

span.recusado {
  color: red;
}

span.aceito {
  color: green;
}

.todasnotificacoes:hover {
  box-shadow: 0 0 10px 5px #e0c10d;
}